div{
    border-radius: 5px;
}

button{
    border-radius: 5px;
    font-size: 14px;
}

.content {
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    width: 480px;
    height: 520px;
}

.diplay_result {
    position: absolute; 
    width: 430px;
    height: 70px;
    background-color: darkgray;
    margin: 25px 25px;
    text-align: right;
}

.operator {
    height: 30px;
    margin-right: 30px;
}

.result_num {
    margin-right: 30px;
}

.buttons {
    position: absolute; 
    width: 430px;
    height: 345px;
    background-color: greenyellow;
    margin-top: 145px;
    margin-left: 25px;  
}

.calc-on {
    position: relative; 
    width: 80px;
    height: 80px;
    background-color: hotpink;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}